:root {
	--brand-color: hotpink;
}
html, body {
	background-color: rebeccapurple;
	height: 100%;
	box-sizing: border-box;
	margin: 0 .5em;
}
body {
	color: white;
	display: flex;
	font-family: cursive;
	flex-direction: column;
}
body > * {
	flex: auto;
}
a {
	color: var(--brand-color);
}
h1 a {
	text-decoration: none;
}